@model WebApplication3.Models.Items

<h1>Item Details</h1>

<p>Item ID: @Model.item_id</p>
<p>Title: @Model.title</p>
<p>link: @Model.link</p>
<p>DATE: @Model.date</p>

<p><a asp-action="Index">Back to Catalog List</a></p>